# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")
S3method(plot, gvcm.cat)
S3method(predict, gvcm.cat)
S3method(print, gvcm.cat)
S3method(summary, gvcm.cat)


# Import all packages listed as Imports or Depends
import(
  Matrix,
  MASS,
  splines
)
